{% extends 'ticketing/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
    <h1>Vérification des billets - {{ event.name }}</h1>
    <form method="post" class="form" id="check-ticket-form" data-event="{{ event.id }}" data-location="{{ location.id }}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12 alerts"></div>
            <div class="col-md-12">
                {% bootstrap_field form.ticket_barre_code %}
            </div>
        </div>

        {% buttons %}
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <button type="submit" class="btn btn-block btn-primary">
                         Valider
                    </button>
                </div>
                <div class="col-md-2 col-md-offset-1">
                    <a href="{% url 'check_participants' event.id %}" class="btn btn-block btn-warning">
                        Recherche manuelle
                    </a>
                </div>
            </div>
        {% endbuttons %}
    </form>
{% endblock %}

{% block javascript %}
    <script src="{% static 'ticketing/js/check.js' %}"></script>
    <script>
        $(document).ready(function () {
            var table = $('#participants').DataTable({
                "order": [[0, "desc"]]
            });
            table.column(0).data().sort().reverse();
        });
    </script>
{% endblock %}