{% extends 'ticketing/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
    <h1>Vérification des billets - {{ event.name }}</h1>
    <div class="text-center" style="font-size: 300px; color: #3d8b3d"><i class="glyphicon glyphicon-ok"></i></div>
    <h2 class="text-center text-success">La personne est autorisée</h2>
    <div style="margin-top: 2em">
        <a href="{% url 'check_participants' event.id %}" class="btn btn-success">Valider une autre personne</a>
    </div>
{% endblock %}

{% block javascript %}
{% endblock %}