{% extends 'ticketing/base.html' %}
{% load bootstrap3 %}
{% block content %}
    <h1>Liste des participants</h1>
    <table id="participants" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Vendu le</th>
            <th>Type</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>#{{ ticket.full_id }}</td>
                <td>{{ ticket.first_name }}</td>
                <td>{{ ticket.last_name }}</td>
                <td>{{ ticket.email }}</td>
                <td>{{ ticket.created_at }}</td>
                <td>{{ ticket.ticket_type }}</td>
                <td><a href="{% url 'pdf_ticket' ticket.code %}" class="btn btn-primary">{% bootstrap_icon 'download' %}
                    Télécharger</a>
                {% if ticket.ticket_type == 'va' and user.is_staff %}
                    <a href="{% url 'ticket_swap' ticket.entry.event.id ticket.id %}" class="btn btn-primary">{% bootstrap_icon 'random' %}
                    Swap</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}


        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function () {
            var table = $('#participants').DataTable({
                "order": [[0, "desc"]]
            });
            table.column(0).data().sort().reverse();
        });
    </script>
{% endblock %}