{% extends 'ticketing/base.html' %}

{% block content %}
    <h1>Liste des participants</h1>
    <table id="participants">
        <thead>
            <tr>
                <th>#</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.full_id }}</td>
                    <td>{{ ticket.first_name }}</td>
                    <td>{{ ticket.last_name }}</td>
                    <td>{{ ticket.email }}</td>
                    <td>{{ ticket.ticket_type }}</td>
                </tr>
            {% endfor %}


        </tbody>
    </table>
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            $('#participants').DataTable();
        } );
    </script>
{% endblock %}