{% extends 'ticketing/base.html' %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
    <h1>{{ event.name }} - VA Ticket Swap</h1>
    <div class="col-md-12 alerts"></div>
    <form method="post" class="form" id="sell-ticket-form" data-event="{{ event.id }}" data-location="{{ location.id }}">
        {% csrf_token %}
        <div class="row swap">
            <div class="col-md-6">
                <div>
                    <p><b>Tarif du billet&nbsp;:</b> {{ ticket.entry }}</p>
                </div>
                <div>
                    <p><b>Adhérent&nbsp;:</b> {{ ticket.first_name }} {{ ticket.last_name }}</p>
                    <p>#{{ ticket.va.last.va_id }} - {{ ticket.va.last.card_id }}</p>
                </div>
            </div>
            <div class="col-md-6">
                {% bootstrap_field form.va_id %}
                {% bootstrap_field form.first_name %}
                {% bootstrap_field form.last_name %}
                {% bootstrap_field form.email %}
            </div>
        </div>

        {% buttons %}
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'list_participants' event.id %}" class="btn btn-block btn-default">
                        <i class="glyphicon glyphicon-arrow-left"></i> Retourner à la liste
                    </a>
                </div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn-block btn-primary">
                         Valider
                    </button>
                </div>
            </div>
        {% endbuttons %}
    </form>
{% endblock %}

{% block javascript %}
    <script src="{% static 'ticketing/js/sell_form.js' %}"></script>
{% endblock %}