<ul class="nav navbar-top-links navbar-right">
    <li>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i> {{ user.email }}
        </a>
        {% if user.is_staff %}
            <li><a href="/admin"><i class="fa fa-gear fa-fw"></i></a>
            </li>
        {% endif %}
        <li><a href="/logout/?next=/"><i class="text-danger fa fa-sign-out fa-fw"></i></a>
        </li>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->